node_modules
.next
.env.local
.env.*.local
tsconfig.tsbuildinfo
pnpm-debug.log*
supabase/.temp

# Local Netlify folder
.netlify


client_secret_180032400612-c39mjfk4710imlpeo61q2tq9gjlvc0m6.apps.googleusercontent.com.json
